{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>损坏调查计划</title>
    <link href="{% static 'darkgrey/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/uimaker/easyui.css' %}">
    <link href="{% static 'darkgrey/css/basic_info.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/layui/css/layui.css' %}" media="all">
{#    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">#}
    <link rel="stylesheet" href="{% static 'darkgrey/css/basic_info.css' %}" type="text/css">
{#    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/zTree_v3/css/demo.css' %}" type="text/css">#}
</head>
<body class="x-body">
	<div class="container" style="padding-left: 0px;">
		<div class="content" >
                <div class="layui-row" style="height: 560px;">
                    <div class="layui-col-xs2" style="height: 100%">
                        <iframe frameborder="0" src="{% url 'sysManage:evaluationManagement:damageMenu' '2' %}" id="deflectionMenu" name="deflectionMenu" title="deflectionMenu" width="98%" height="100%" ></iframe>
                    </div>
                    <div class="layui-col-xs10" style="height: 100%">
                        <iframe frameborder="" id="deflectionContent" src="{% url 'sysManage:evaluationManagement:deflectionData' firstPlan.surveyPlanCode firstOperArea.area.id  %}" name="deflectionContent" title="deflectionContent" width="98%" height="100%"></iframe>
                    </div>
                </div>
        </div>
	</div>

</body>
</html>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/lib/layui/layui.js' %}"></script>
<script type="text/javascript">

     layui.use(['layer'], function() {
         var $ = layui.jquery
         var layer = layui.layer;



    });
</script>