{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>损坏原始数据</title>
    <link href="{% static 'darkgrey/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/uimaker/easyui.css' %}">
    <link href="{% static 'darkgrey/css/basic_info.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/layui/css/layui.css' %}" media="all">
</head>
<body class="x-body" style="padding-top: 10px">
	<div class="container" style="padding-left: 0px;width: 98%">
		<div class="content">

            <div class="column"><span class="current">任务概要</span>
                <span class="layui-badge-rim">当前计划编号：{{ currentPlan.surveyPlanCode }}</span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">项目编号</label>
                <div class="layui-input-inline" style="width: 210px;">
                  <input type="text" name="surveyPlanCode" id="surveyPlanCode" placeholder="请输入" autocomplete="off"
                         class="layui-input" value="{{ currentPlan.surveyPlanCode }}" required lay-verify="required" disabled>
                </div>

                <label class="layui-form-label">日期</label>
                <div class="layui-input-inline" style="width: 210px;">
                    <input type="text" name="Date" id="Date" placeholder="请输入" autocomplete="off"
                          class="layui-input" value=""  required lay-verify="required">
                </div>
{##}
                <label class="layui-form-label">记录人</label>
                <div class="layui-input-inline" style="width: 210px;">
                    <input type="text" name="oper" id="oper" placeholder="请输入" autocomplete="off"
                          class="layui-input" value="">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">部位名称</label>
                <div class="layui-input-inline" style="width: 210px;">
                  <input type="text" name="partName" id="partName" placeholder="请输入" autocomplete="off"
                         class="layui-input" value="{{ currentArea.part.partName }}" required lay-verify="required" disabled>
                </div>

                <label class="layui-form-label">区域名称</label>
                <div class="layui-input-inline" style="width: 210px;">
                  <input type="text" name="areaCode" id="areaCode" placeholder="请输入" autocomplete="off"
                          class="layui-input" value="{{ currentArea.areaCode }}({{ currentArea.areaDis }})"  required lay-verify="required" disabled>
                </div>

                <label class="layui-form-label">结构类型</label>
                <div class="layui-input-inline" style="width: 210px;">
                  <input type="text" name="structCode" id="structCode" placeholder="请输入" autocomplete="off"
                          class="layui-input" value="{{ currentArea.structCode }}"  required lay-verify="required" disabled>
                </div>

            </div>
            <div class="column"><span class="current" >损坏数据</span>
                <span class="layui-badge-rim" id="Tips" style="float: right">损坏类型行业标准参考</span>
            </div>

{#                <div class="layui-form-item">#}
{#                  <div class="layui-input-block"  style="vertical-align: middle">#}
{#                        <div class="layui-btn layui-anim-scale  layui-btn-primary" lay-submit lay-filter="addDamageData" name="addDamageData" id="addDamageData">#}
{#                            <i class="layui-icon">&#xe608;</i> 添加记录#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="layui-form-item">#}
{#                    <div class="layui-input-block"  style="vertical-align: middle">#}
{#                        <div class="layui-btn layui-anim-scale  layui-btn-primary" lay-submit lay-filter="addDamageData" name="addDamageData" id="addDamageData">#}
{#                            <i class="layui-icon">&#xe640;</i> 清空记录#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            <form class="layui-form" style="display: inline-block;position: relative;margin-bottom: 0;width: 100%;" action="">
                <button type="button" class="layui-btn layui-btn-primary" id="importDamageData" name="importDamageData"><i class="layui-icon"></i>Excel导入</button>
{#                <button type="button" class="layui-btn layui-btn-primary" id="downloadDamageData">Excel导出</button>#}

                <div class="layui-form-item">
                    <div class="layui-input-block" style="vertical-align: middle;padding-left: 10px">
                      <input type="text" value="" name="searchStr" id="searchStr"  lay-verify="value" placeholder="单元名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block"  style="vertical-align: middle">
                            <div class="layui-btn layui-btn-normal" lay-filter="searchDamageData" name="searchDamageData" id="searchDamageData">
                                <i class="layui-icon">&#xe615;</i> 查询
                            </div>
                    </div>
                </div>
                <button type="button" class="layui-btn layui-btn-primary" id="importDamagePics" name="importDamagePics"><i class="layui-icon"></i>上传照片</button>
                <button type="button" class="layui-btn layui-btn-primary" id="showAllPic" name="showAllPic">查看所有照片</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="window.location.href='{% url 'sysManage:evaluationManagement:downloadStaticFile' 'damageData' %}'" id="importDamageData"><i class="layui-icon"></i>Excel模板</button>
            </form>
		    <table class="layui-table" id="damageDataTab" lay-filter='damageDataTab'></table>
            <div class="layui-form-item" style="width: 100%;vertical-align: middle;horiz-align: center">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="sure_damageData" id="sure_damageData" name="sure_damageData">保存</button>
{#                    <button class="layui-btn layui-btn-primary" lay-submit lay-filter="addPlanBtn" id="addPlanBtn" name="addPlanBtn">暂存</button>#}
                    <span class="layui-badge layui-bg-gray">保存：保存所有原始数据，之后不可修改，可计算PCI等参数。直接返回则是保留上次操作数据，可修改，不可计算PCI参数。</span>
                </div>
            </div>
        </div>
	</div>

</body>
</html>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/lib/layui/layui.js' %}"></script>
<script type="text/javascript">

    layui.use(['table','form','layer','upload','laydate'], function() {
        var $ = layui.jquery,
             form = layui.form,
             table = layui.table,
             layer = layui.layer,
             upload = layui.upload,
             laydate = layui.laydate;

        laydate.render({
            elem: '#Date', //指定元素
        });

        form.on('submit(sure_damageData)', function(data){
            return false;
         });

         form.verify({
            name: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                  return '用户名不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                  return '用户名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                  return '用户名不能全为数字';
                }
            }
            ,Integer:[
                /^[\d]+$/
                ,'此处应为整数。'
            ]
        });
{#        laydate.render({#}
{#            elem: '#endTime' //指定元素#}
{#        });#}

        $("#Tips").on('mouseover',function(){
            layer.tips('损害类型编号:<br/>' +
                '1、纵向、横向和斜向裂缝；<br/>' +
                '2、角隅断裂；<br/>' +
                '3、破碎板或交叉裂缝；<br/>' +
                '4、沉陷或错台；<br/>' +
                '5、胀裂；<br/>' +
                '6、嵌缝料损坏；<br/>' +
                '7、接缝破碎；<br/>' +
                '8、唧泥和板底脱空；<br/>' +
                '9、耐久性裂缝；<br/>' +
                '10、收缩裂缝；<br/>' +
                '11、坑洞；<br/>' +
                '12、起皮、龟裂和细微裂纹；<br/>' +
                '13、板角剥落；<br/>' +
                '14、小补丁；<br/>' +
                '15、大补丁和开挖补块。'
                , '#Tips');
        })


        var damageDataTab = table.render({
            elem: '#damageDataTab' //指定原始表格元素选择器（推荐id选择器）,
             ,height:240
             ,cols: [[
                {field: 'cellName',title:'单元名称',width:150,fixed:'left',sort: true}
                ,{field: 'damageType',title:'病害类型',width:150}
                ,{field: 'damageDegree',title:'病害程度',width:100}
                ,{field: 'damageNumber',title:'病害数量',width:100}
                ,{field: 'unit',title:'单位',width:100}
                ,{field: 'plateRow',title:'板块行编号',width:100}
                ,{field: 'plateCol',title:'板块列编号',width:100}
                ,{field: 'plateX',title:'坐标X',width:100}
                ,{field: 'plateY',title:'坐标Y',width:100}
                ,{field: 'opera',title:'操作',toolbar: '#picBars',align:'center',width:150,fixed:'right'}
              ]]
            ,limits: [5,10,20,30,40,50]
            ,limit: 5
            ,size: 'sm'
            ,loading: true
            ,page:true
            ,url: '{% url 'sysManage:evaluationManagement:searchDamageData' currentPlan.surveyPlanCode currentArea.id %}'
            ,method: 'post'
            ,where: {csrf_token: '{{ csrf_token }}'}

        });

        $("div[name='searchDamageData']").on('click',function(){
            var serchStr = $("#searchStr").val();
            damageDataTab.reload({
              where: { //设定异步数据接口的额外参数，任意设
                  searchStr:serchStr
                  ,csrf_token: '{{ csrf_token }}'
              }
            });
        });

        $("button[name='sure_damageData']").on('click',function(){
            var date = $("#Date").val()
            var oper = $("#oper").val()
            var planCode = {{ currentPlan.surveyPlanCode }}
            var areaId = {{ currentArea.id }}
            var post_data_dict = {date:date,planCode:planCode,areaId:areaId,oper:oper};

            var post_data_str = JSON.stringify(post_data_dict);
            $.ajax({
                    url: '{% url 'sysManage:evaluationManagement:sureData' %}',
                    type: 'POST',
                    data: {csrfmiddlewaretoken:'{{ csrf_token }}','post_data': post_data_str },
                    dataType: 'json',
                     success: function (arg) {
                        if(arg.status){
                            parent.location.reload()
                        }else{
                            layer.msg(arg.message+"[3s后自动关闭]", {
                                time: 3000, //3s后自动关闭
                                btn: [ '知道了']
                            });
                        }
                     },
                })
        });

        $("button[name='showAllPic']").on('click',function(){

            $.ajax({
                    url: '{% url 'sysManage:evaluationManagement:lookAllPic' currentPlan.surveyPlanCode currentArea.id%}',
                    type: 'POST',
                    data: {csrfmiddlewaretoken:'{{ csrf_token }}' },
                    dataType: 'json',
                     success: function (arg) {
                          layer.photos({
                            photos: arg //格式见API文档手册页
                            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                          });
                     },
                })
        })

        upload.render({
            elem: '#importDamageData'
            ,url: 'uploadDamageData/'
            ,accept: 'file'
            ,exts: 'xls|xlsx'
            ,done: function(res){
                if (res.flag){
                    $("#searchDamageData").click()
                    layer.msg(res.message+"[3s后自动关闭]", {
                        time: 3000, //3s后自动关闭
                        btn: [ '知道了']
                    });
                }else {
                    layer.msg(res.message+"[3s后自动关闭]", {
                        time: 3000, //3s后自动关闭
                        btn: [ '知道了']
                    });
                }
            }
        });
        $("button[name='importDamagePics']").on('click',function(){
            layer.open({
                type: 2,
                title :'上传图片',
                area: ['850px', '400px'],
                shade: [0.8, '#393D49'],
{#                shadeClose:true,#}
                maxmin: true,
                content: 'uploadPic/',
                id:"upload-pic-dialog",
                cancel: function(index, layero){
                    layer.close(index)
                     $("button[name='searchDamageData']").click()
                }
            });
        })
        table.on('tool(damageDataTab)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'lookPic'){ //查看图片
                    var json = {
                      "title": "损害图片", //相册标题
                      "start": 0, //初始显示的图片序号，默认0
                      "data": [   //相册包含的图片，数组格式
                        {
                          "alt": data.cellName+'_'+data.plateRow+'_'+data.plateCol,
                          "src": '/static/'+data.diseasephoto, //原图地址
                        }
                      ]
                    }
                  layer.photos({
                    photos: json //格式见API文档手册页
                    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                  });
            }else if (layEvent === 'del') { //查看图片
                    layer.confirm('确定需要删除嘛？', function(index){
                     var id = data.id
                    var index1 = layer.load(2);
                    var post_data_dict = {id:id};

                    var post_data_str = JSON.stringify(post_data_dict);
                    $.ajax({
                            url: '{% url 'sysManage:evaluationManagement:delDamageData' %}',
                            type: 'POST',
                            data: {csrfmiddlewaretoken:'{{ csrf_token }}','post_data': post_data_str },
                            dataType: 'json',
                             success: function (arg) {
                                layer.close(index1);
                                layer.close(index);
                                $("div[name='searchDamageData']").click()
                             },
                        })
                });
            }
        });
    });
</script>
<script type="text/html" id="picBars">
{#  <a class="iconfont" style='cursor:pointer;font-size: small' lay-event="uploadPic" title="上传图片">上传图片</a>|#}
        <a class="iconfont" style='cursor:pointer;font-size: small' lay-event="del" title="删除">删除</a>
{% verbatim %}{{#  if(d.diseasephoto !=''){ }}
        | <a class="iconfont" style='cursor:pointer;font-size: small' lay-event="lookPic" title="查看图片"><i class="layui-icon" name="showPic">&#xe64a;</i></a>
{{#  } }}{% endverbatim %}
</script>
