{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>损坏调查计划</title>
    <link href="{% static 'darkgrey/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/uimaker/easyui.css' %}">
    <link href="{% static 'darkgrey/css/basic_info.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/layui/css/layui.css' %}" media="all">
{#    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">#}
    <link rel="stylesheet" href="{% static 'darkgrey/css/basic_info.css' %}" type="text/css">
{#    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/zTree_v3/css/demo.css' %}" type="text/css">#}
</head>
<body class="x-body">
	<div class="container" style="padding-left: 0px">
		<div class="content">
                <div class="layui-row">
                    <div class="layui-col-xs2" style="border-right: 1px solid #bfbfbf">
                        <div class="column"><span class="current">损坏调查项目</span>
                            <a id="addPlanList" name="addPlanList" class="iconfont"
                               style='cursor:pointer;padding-left: 10px' title="新增计划">&#xe63a;</a>
                        </div>
                        <input type="text" value="" name="planCode" id="planCode" placeholder=""  style="padding: 2px 1px;margin: 5px 0px">
                        <iframe frameborder="0" src="{% url 'sysManage:evaluationManagement:planMenu' %}" id="surveyPlanMenu" name="surveyPlanMenu" title="surveyPlanMenu" width="95%" height="500px"></iframe>
                    </div>
                    <div class="layui-col-xs10">
                        <iframe frameborder="" id="PlanContent" src="{% if firstPlan %}{% url 'sysManage:evaluationManagement:showPlan' firstPlan.surveyPlanCode %}{% endif %}" name="PlanContent" title="PlanContent" width="100%" height="550px"></iframe>
                    </div>
                </div>
        </div>
	</div>

</body>
</html>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/lib/layui/layui.js' %}"></script>
<script type="text/javascript">

{#     function loadFrame(obj){#}
{#         var url = obj.contentWindow.location.href;#}
{#         if(url.indexOf('addPlan')>-1){#}
{##}
{#         }#}
{#     }#}
     layui.use(['layer'], function() {
         var $ = layui.jquery
         var layer = layui.layer;

         $("a[name='addPlanList']").on('click',function(){
             document.getElementById('PlanContent').src="addPlan/"
         });

         $("#planCode").keydown(function(event) {
            if (event.keyCode == "13") {    {#  回车键 #}
                var seachstr = $("#planCode").val();
                document.getElementById('surveyPlanMenu').src="/component/evaluationManagement/damage/surveyPlan/planMenu/?searchStr="+seachstr
            }
        });

    });
</script>