{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>单元列表</title>
    <link href="{% static 'darkgrey/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'darkgrey/uimaker/easyui.css' %}">
    <link rel="stylesheet" href="{% static 'darkgrey/js/lib/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'darkgrey/css/basic_info.css' %}" type="text/css">
</head>
<body class="x-body" style="padding-top: 20px">
	<div class="container" style="padding-left: 0px">
		<div class="content">
            <form class="layui-form" style="display: inline-block;position: relative;margin-bottom: 0;width: 100%;" action="">
                <div class="layui-form-item">
                  <div class="layui-input-block"  style="vertical-align: middle">
                            <div class="layui-btn  layui-btn-primary" lay-submit lay-filter="addLayer" name="addLayer" id="addLayer">
                                <i class="layui-icon">&#xe608;</i> 插入结构
                            </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="vertical-align: middle;padding-left: 10px">
                      <input type="text" value="" name="material" id="material"  lay-verify="value" placeholder="材料名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block"  style="vertical-align: middle">
                            <div class="layui-btn layui-btn-normal" lay-submit lay-filter="searchLayer" name="searchLayer" id="searchLayer">
                                <i class="layui-icon">&#xe615;</i> 查询
                            </div>
                    </div>
                </div>
                <span class="layui-badge-rim">当前选择：{{ currentCombine.structureCode }}</span>
                <span class="layui-badge-rim" style="padding-right: 0px" id="lookStructPic" name="lookStructPic">查看结构图</span>
            </form>
            <table class="layui-table" id="layerTable" lay-filter='layerTable'></table>
		</div>
	</div>

</body>
</html>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'darkgrey/js/lib/layui/layui.js' %}"></script>
<script type="text/javascript">
    layui.use(['table','form','layer'], function() {
        var $ = layui.jquery
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //执行渲染  部位表格
        var layerTable = table.render({
            elem: '#layerTable' //指定原始表格元素选择器（推荐id选择器）
             ,height: 'full-120' //容器高度
             ,cols: [[
                {field: 'layer',title:'层号（上至下）',width:160,fixed:'left'} //其它参数在此省略
                ,{field: 'materialName',title:'材料名称',width:150}
                ,{field: 'thickness',title:'厚度/cm',width:120}
                ,{field: 'elasticModulus',title:'弹性模量/Mpa',width:150}
                ,{field: 'CBR',title:'CBR',width:100}
                ,{field: 'poissonRatio',title:'泊松比',width:100}
                ,{field: 'recordingTime',title:'记录日期',width:120}
                ,{field: 'updateTime',title:'更新日期',width:200}
                ,{field: 'opera',title:'操作',toolbar: '#bars',align:'center',width:150,fixed:'right'}
              ]]
            ,limits: [5,10,15,20,25]
            ,limit: 5
            ,loading: true
            ,page:true
            ,where: {csrf_token: '{{ csrf_token }}',structureCode:'{{currentCombine.structureCode}}'}
            ,url: '{% url 'sysManage:searchLayer' %}'
            ,method: 'post'
              //request: {} //如果无需自定义请求参数，可不加该参数
                //response: {} //如果无需自定义数据响应名称，可不加该参数
        });

        $("div[name='searchLayer']").on('click',function(){
            var serchStr = $("#material").val();
            layerTable.reload({
              where: { //设定异步数据接口的额外参数，任意设
                searchStr:serchStr, csrf_token: '{{ csrf_token }}',structureCode:'{{currentCombine.structureCode}}'
              }
              ,method: 'post'
            });
        });

        $("div[name='addLayer']").on('click',function(){
            layer.open({
                type: 2,
                title :'新增结构层位',
                area: ['600px', '350px'],
                anim:2,
                shade: [0.8, '#393D49'],
                shadeClose:true,
                maxmin: true,
                content: 'addLayer/',
                id:"add-layer-dialog",
            });
        });

        $("span[name='lookStructPic']").on('mouseover',function(){
            layer.open({
                type: 2,
                title :'层位示意图',
                area: ['650px', '500px'],
                anim:2,
                shade: [0.1, '#393D49'],
                shadeClose:true,
                content: 'showLayerPic/',
                id:"show-layerPic-dialog",
            });
        });


        table.on('tool(layerTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'del'){ //删除
                layer.confirm('确定需要删除吗？此项操作将会影响下方层位均抬升。', function(index){
                    var layerId = data.id
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令

                    var post_data_dict = {layerId:layerId};

                    var post_data_str = JSON.stringify(post_data_dict);
                     $.ajax({
                        url: '{% url 'sysManage:delLayerSubmit' %}',
                        type: 'POST',
                        data: {csrfmiddlewaretoken:'{{ csrf_token }}','post_data': post_data_str },
                        dataType: 'json',
                         success: function (arg) {
                             if(arg.status){
                                 document.getElementById('searchLayer').click()
                                 layer.msg(arg.message+"[3s后自动关闭]", {
                                    time: 3000, //3s后自动关闭
                                    btn: [ '知道了']
                                 });
                             }
                         },
                    })
                });
            }else if(layEvent === 'alter'){
                var layerId = data.id
                layer.open({
                    type: 2,
                    title :'修改层位信息',
                    area:['600px', '350px'],
                    shade: [0.8, '#393D49'],
                    shadeClose:true,
                    maxmin: true,
                    content: 'alterLayer/'+layerId+'/',
                    id:"alter-layer-dialog",
                });
            }else if(layEvent === 'moveUp'){
                var layerId = data.id

                var post_data_dict = {layerId:layerId};

                var post_data_str = JSON.stringify(post_data_dict);
                 $.ajax({
                    url: '{% url 'sysManage:moveUpLayerSubmit' %}',
                    type: 'POST',
                    data: {csrfmiddlewaretoken:'{{ csrf_token }}','post_data': post_data_str },
                    dataType: 'json',
                     success: function (arg) {
                         if(arg.status){
                             document.getElementById('searchLayer').click()

                         }else{
                             layer.msg(arg.message+"[3s后自动关闭]", {
                                time: 3000, //3s后自动关闭
                                btn: [ '知道了']
                             });
                         }
                     },
                })
            }else if(layEvent === 'moveDown'){
                var layerId = data.id

                var post_data_dict = {layerId:layerId};

                var post_data_str = JSON.stringify(post_data_dict);
                 $.ajax({
                    url: '{% url 'sysManage:moveDownLayerSubmit' %}',
                    type: 'POST',
                    data: {csrfmiddlewaretoken:'{{ csrf_token }}','post_data': post_data_str },
                    dataType: 'json',
                     success: function (arg) {
                         if(arg.status){
                             document.getElementById('searchLayer').click()

                         }else{
                             layer.msg(arg.message+"[3s后自动关闭]", {
                                time: 3000, //3s后自动关闭
                                btn: [ '知道了']
                             });
                         }
                     },
                })
            }
        });
    });


</script>
<script type="text/html" id="bars">
  <a class="iconfont" style='cursor:pointer' lay-event="del" title="删除">&#xe60f;</a>
  <a class="iconfont" style='cursor:pointer' lay-event="alter" title="修改">&#xe611;</a>
  <a class="iconfont" style='cursor:pointer;padding-left: 10px' lay-event="moveUp" title="上移">&#xe673;</a>
  <a class="iconfont" style='cursor:pointer' lay-event="moveDown" title="下移">&#xe672;</a>
</script>
